$theme-colors: (
    "primary": rgb(195, 23, 76)
);

// You must run `npm install` in the root of the git repo before you can compile the sass
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    padding: 0;
}

p {
    margin: 0;
    padding: .25em;
}
